@font-face {
    font-family: barlow;
    src: url(fonts/barlow/Barlow-Regular.otf);
}
html, body {
  height: 100%;
  margin: 0;
}
body {
    background-color: #EFF6FF;
    font-family: barlow;
    font-size: 1.125rem;
    color: #2A4A5C;
}
.main {
    height: 100vh; 
    min-height: 600px;
    min-width: 100px;
    display: flex;
    flex-direction: row;
    padding: 30px;
}
@media (max-width: 800px) {
  .main {
    flex-direction: column;
  } 
}
.img {
    width: 50%;
    height: 100vh;
}
.logo {
    position: absolute;
    top: 50px;
    left: 50px;
}
.registration {
    justify-content: center;
    background-color: white;
    display: flex;
    padding: 0 0 0 30px;
    width: 50%;
}
.registration form {
    width: 50%;
    max-height: 400px;
}
.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.social {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;;
}
.facebook, .linkedin {
    color: #EEEEEE;
    font-family: barlow;
    border: none;
    width: 190px;
    height: 30px;
    text-align: left;
    font-size: 0.8rem;
    align-items: center;
}
.facebook {
    background-color: #255A9B;
}
.linkedin {
    background-color: #0076B6;
}
img {
    padding-right: 10px;
}
.or {
    display: flex;
    font-size: 0.9rem;
    gap: 5px;
    width: 100%;
    max-width: 200px;
    margin: auto;
}
hr {
    flex: 1;
    border: none;
    background-color: lightgrey;
    height: 0.5px;
}
.other {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}
.input-email, .input-phone {
    width: 180px;
    height: 30px;
    border: lightgrey solid 0.5px;
}

.email {
    border-radius: 0 3px 0 0;
}
.phone {
    border-radius: 0 0 3px 3px;
}
.input-email, .input-phone:hover {
    border-left: 1.5px solid #3698FB;
}
.input-email, .input-phone:focus {
    border-left: 1.5px solid #3698FB;
    outline: none;
}
.investor {
    align-items: center;
}
.information {
    width: 180px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1), 0 2px 15px 0 rgba(0, 0, 0, 0.1);
    padding: 2px 10px;
    margin: 30px;
    font-size: 0.9rem;
}
.investor input {
    appearance: none;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    border: 1px solid #999;
    position: relative;

}
.investor input:checked {
    border: solid 3px #3698FB;
}
.account {
    border: none;
    padding: 10px 50px;
    margin-top: 30px;
    background-color: #3698FB;
    color: white;
    font-weight: bold;
}